.login-container{
  background-image:linear-gradient(rgb(1, 1, 7),rgb(65, 1, 148));
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content:center;
  align-items: center;
}
.login-form{
  background-image: linear-gradient(rgb(66, 0, 110),rgb(32, 32, 32));
  width:30%;
  box-shadow: 5px 5px 10px 10px black;
  padding:3px;
  transition: all 1s;
}
.login-form div{
  background-color: rgb(0, 131, 245,0);
}
.login-form:hover{
  transform: scale(1.05);
  background-color: rgba(0, 48, 90, 0.096);
}
.divider{
  color:white;
  margin:30px;
}

.title{
  color:rgb(255, 255, 255);
  font-family: cursive;
  font-weight: bold;
  transition:all 1s;
}
.login-form:hover .title{
  color:rgb(8, 255, 49)
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .login-form{
    width:90%;
  }
  .title{
    font-size:400px;
  }
}